   .logo-unit .logo {
       font-family: Montserrat;
       color: #fff;
       font-size: 23px;
   }

   .header_top_bar,
   .header_top_bar a {
       font-family: Montserrat;
       font-weight: normal;
       font-style: normal;
       color: #aaaaaa;
       font-size: 12px;
   }

   body.skin_custom_color ul.page-numbers>li a.page-numbers:hover,
   body.skin_custom_color ul.page-numbers>li a.page-numbers.current,
   body.skin_custom_color ul.page-numbers>li span.page-numbers.current,
   body.skin_custom_color .custom-border textarea:active,
   body.skin_custom_color .custom-border input[type=text]:active,
   body.skin_custom_color .custom-border input[type=email]:active,
   body.skin_custom_color .custom-border input[type=number]:active,
   body.skin_custom_color .custom-border input[type=password]:active,
   body.skin_custom_color .custom-border input[type=tel]:active,
   body.skin_custom_color .custom-border .form-control:active,
   body.skin_custom_color .custom-border textarea:focus,
   body.skin_custom_color .custom-border input[type=text]:focus,
   body.skin_custom_color .custom-border input[type=email]:focus,
   body.skin_custom_color .custom-border input[type=number]:focus,
   body.skin_custom_color .custom-border input[type=password]:focus,
   body.skin_custom_color .custom-border input[type=tel]:focus,
   body.skin_custom_color .custom-border .form-control:focus,
   body.skin_custom_color .icon-btn:hover .icon_in_btn,
   body.skin_custom_color .icon-btn:hover,
   body.skin_custom_color .average_rating_unit,
   body.skin_custom_color blockquote,
   body.skin_custom_color .blog_layout_grid .post_list_meta_unit,
   body.skin_custom_color .blog_layout_grid .post_list_meta_unit .post_list_comment_num,
   body.skin_custom_color .blog_layout_list .post_list_meta_unit .post_list_comment_num,
   body.skin_custom_color .blog_layout_list .post_list_meta_unit,
   body.skin_custom_color .tp-caption .icon-btn:hover .icon_in_btn,
   body.skin_custom_color .tp-caption .icon-btn:hover,
   body.skin_custom_color .stm_theme_wpb_video_wrapper .stm_video_preview:after,
   body.skin_custom_color .btn-carousel-control,
   body.skin_custom_color .post_list_main_section_wrapper .post_list_meta_unit .post_list_comment_num,
   body.skin_custom_color .post_list_main_section_wrapper .post_list_meta_unit,
   body.skin_custom_color .search-toggler:hover,
   body.skin_custom_color .search-toggler {
       /* border-color: #f07922; */
       border-color: white;
   }

   body.skin_custom_color .icon-btn:hover .icon_in_btn,
   body.skin_custom_color .icon-btn:hover .link-title,
   body.skin_custom_color .stats_counter .h1,
   body.skin_custom_color .event_date_info .event_date_info_unit .event_labels,
   body.skin_custom_color .event-col .event_archive_item .event_location i,
   body.skin_custom_color .event-col .event_archive_item .event_start i,
   body.skin_custom_color .gallery_terms_list li.active a,
   body.skin_custom_color .blog_layout_grid .post_list_meta_unit .post_list_comment_num,
   body.skin_custom_color .blog_layout_grid .post_list_meta_unit .date-m,
   body.skin_custom_color .blog_layout_grid .post_list_meta_unit .date-d,
   body.skin_custom_color .blog_layout_list .post_list_meta_unit .post_list_comment_num,
   body.skin_custom_color .blog_layout_list .post_list_meta_unit .date-m,
   body.skin_custom_color .blog_layout_list .post_list_meta_unit .date-d,
   body.skin_custom_color .tp-caption .icon-btn:hover .icon_in_btn,
   body.skin_custom_color .widget_pages ul.style_2 li a:hover .h6,
   body.skin_custom_color .teacher_single_product_page>a:hover .title,
   body.skin_custom_color .sidebar-area .widget ul li a:hover:after,
   body.skin_custom_color div.pp_woocommerce .pp_gallery ul li a:hover,
   body.skin_custom_color div.pp_woocommerce .pp_gallery ul li.selected a,
   body.skin_custom_color .single_product_after_title .meta-unit.teacher:hover .value,
   body.skin_custom_color .single_product_after_title .meta-unit i,
   body.skin_custom_color .single_product_after_title .meta-unit .value a:hover,
   body.skin_custom_color .woocommerce-breadcrumb a:hover,
   body.skin_custom_color #footer_copyright .copyright_text a:hover,
   body.skin_custom_color .widget_stm_recent_posts .widget_media .cats_w a:hover,
   body.skin_custom_color .widget_pages ul.style_2 li a:hover,
   body.skin_custom_color .sidebar-area .widget_categories ul li a:hover,
   body.skin_custom_color .sidebar-area .widget ul li a:hover,
   body.skin_custom_color .widget_categories ul li a:hover,
   body.skin_custom_color .stm_product_list_widget li a:hover .title,
   body.skin_custom_color .widget_contacts ul li .text a:hover,
   body.skin_custom_color .sidebar-area .widget_pages ul.style_1 li a:focus .h6,
   body.skin_custom_color .sidebar-area .widget_nav_menu ul.style_1 li a:focus .h6,
   body.skin_custom_color .sidebar-area .widget_pages ul.style_1 li a:focus,
   body.skin_custom_color .sidebar-area .widget_nav_menu ul.style_1 li a:focus,
   body.skin_custom_color .sidebar-area .widget_pages ul.style_1 li a:active .h6,
   body.skin_custom_color .sidebar-area .widget_nav_menu ul.style_1 li a:active .h6,
   body.skin_custom_color .sidebar-area .widget_pages ul.style_1 li a:active,
   body.skin_custom_color .sidebar-area .widget_nav_menu ul.style_1 li a:active,
   body.skin_custom_color .sidebar-area .widget_pages ul.style_1 li a:hover .h6,
   body.skin_custom_color .sidebar-area .widget_nav_menu ul.style_1 li a:hover .h6,
   body.skin_custom_color .sidebar-area .widget_pages ul.style_1 li a:hover,
   body.skin_custom_color .sidebar-area .widget_nav_menu ul.style_1 li a:hover,
   body.skin_custom_color .widget_pages ul.style_1 li a:focus .h6,
   body.skin_custom_color .widget_nav_menu ul.style_1 li a:focus .h6,
   body.skin_custom_color .widget_pages ul.style_1 li a:focus,
   body.skin_custom_color .widget_nav_menu ul.style_1 li a:focus,
   body.skin_custom_color .widget_pages ul.style_1 li a:active .h6,
   body.skin_custom_color .widget_nav_menu ul.style_1 li a:active .h6,
   body.skin_custom_color .widget_pages ul.style_1 li a:active,
   body.skin_custom_color .widget_nav_menu ul.style_1 li a:active,
   body.skin_custom_color .widget_pages ul.style_1 li a:hover .h6,
   body.skin_custom_color .widget_nav_menu ul.style_1 li a:hover .h6,
   body.skin_custom_color .widget_pages ul.style_1 li a:hover,
   body.skin_custom_color .widget_nav_menu ul.style_1 li a:hover,
   body.skin_custom_color .see_more a:after,
   body.skin_custom_color .see_more a,
   body.skin_custom_color .transparent_header_off .header_main_menu_wrapper ul>li>ul.sub-menu>li a:hover,
   body.skin_custom_color .stm_breadcrumbs_unit .navxtBreads>span a:hover,
   body.skin_custom_color .btn-carousel-control,
   body.skin_custom_color .post_list_main_section_wrapper .post_list_meta_unit .post_list_comment_num,
   body.skin_custom_color .post_list_main_section_wrapper .post_list_meta_unit .date-m,
   body.skin_custom_color .post_list_main_section_wrapper .post_list_meta_unit .date-d,
   body.skin_custom_color .stats_counter h1,
   body.skin_custom_color .yellow,
   body.skin_custom_color ol li a:hover,
   body.skin_custom_color ul li a:hover,
   body.skin_custom_color a:hover,
   body.skin_custom_color .search-toggler {
       /* color: #f07922; */
       color: white;
   }

   body.skin_custom_color .triangled_colored_separator .triangle,
   body.skin_custom_color .magic_line:after {
       border-bottom-color: #f07922;
   }

   body.skin_custom_color .product_status.special,
   body.skin_custom_color .view_type_switcher a:hover,
   body.skin_custom_color .view_type_switcher a.view_list.active_list,
   body.skin_custom_color .view_type_switcher a.view_grid.active_grid,
   body.skin_custom_color .stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price,
   body.skin_custom_color .sidebar-area .widget_text .btn,
   body.skin_custom_color .stm_product_list_widget.widget_woo_stm_style_2 li a .meta .stm_featured_product_price .price,
   body.skin_custom_color .widget_tag_cloud .tagcloud a:hover,
   body.skin_custom_color .sidebar-area .widget ul li a:after,
   body.skin_custom_color .sidebar-area .socials_widget_wrapper .widget_socials li a,
   body.skin_custom_color .socials_widget_wrapper .widget_socials li a,
   body.skin_custom_color .gallery_single_view .gallery_img a:after,
   body.skin_custom_color .course_table tr td.stm_badge .badge_unit,
   body.skin_custom_color .widget_mailchimp .stm_mailchimp_unit .button,
   body.skin_custom_color .textwidget .btn:active,
   body.skin_custom_color .textwidget .btn:focus,
   body.skin_custom_color .form-submit .submit:active,
   body.skin_custom_color .form-submit .submit:focus,
   body.skin_custom_color .button:focus,
   body.skin_custom_color .button:active,
   body.skin_custom_color .btn-default:active,
   body.skin_custom_color .btn-default:focus,
   body.skin_custom_color .button:hover,
   body.skin_custom_color .textwidget .btn:hover,
   body.skin_custom_color .form-submit .submit,
   body.skin_custom_color .button,
   body.skin_custom_color .btn-default {
       background-color: #457992;
   }

   body.skin_custom_color .wpb_tabs .form-control:focus,
   body.skin_custom_color .wpb_tabs .form-control:active,
   body.skin_custom_color .woocommerce .cart-totals_wrap .shipping-calculator-button,
   body.skin_custom_color .sidebar-area .widget_text .btn,
   body.skin_custom_color .widget_tag_cloud .tagcloud a:hover,
   body.skin_custom_color .icon_box.dark a:hover,
   body.skin_custom_color .simple-carousel-bullets a.selected,
   body.skin_custom_color .stm_sign_up_form .form-control:active,
   body.skin_custom_color .stm_sign_up_form .form-control:focus,
   body.skin_custom_color .form-submit .submit,
   body.skin_custom_color .button,
   body.skin_custom_color .btn-default {
       border-color: #457992;
   }

   body,
   .normal_font {
       font-family: "Open Sans";
       color: #555555;
       font-size: 14px;
   }

   .header-menu {
       font-family: Montserrat;
       font-weight: normal;
       color: #fff;
   }

   h1,
   .h1,
   h2,
   .h2,
   h3,
   .h3,
   h4,
   .h4,
   h5,
   .h5,
   h6,
   .h6,
   .heading_font,
   .widget_categories ul li a,
   .sidebar-area .widget ul li a,
   .select2-selection__rendered,
   blockquote,
   .select2-chosen,
   .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab a,
   .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab a {
       font-family: Montserrat;
       color: #333333;
   }

   h1,
   .h1 {
       font-weight: 700;
       font-size: 50px;
   }

   h2,
   .h2 {
       font-weight: 700;
       font-size: 32px;
   }

   h3,
   .h3 {
       font-weight: 700;
       font-size: 18px;
   }

   h4,
   .h4,
   blockquote {
       font-weight: 400;
       font-size: 16px;
   }

   h5,
   .h5,
   .select2-selection__rendered {
       font-weight: 700;
       font-size: 14px;
   }

   h6,
   .h6,
   .widget_pages ul li a,
   .widget_nav_menu ul li a,
   .footer_menu li a,
   .widget_categories ul li a,
   .sidebar-area .widget ul li a {
       font-weight: 400;
       font-size: 12px;
   }

   #footer_top {
       background-color: #004566;
   }

   #footer_bottom {
       background-color: #004566;
   }

   #footer_copyright {
       background-color: #004566;
   }

   img.wp-smiley,
   img.emoji {
       display: inline !important;
       border: none !important;
       box-shadow: none !important;
       height: 1em !important;
       width: 1em !important;
       margin: 0 .07em !important;
       vertical-align: -0.1em !important;
       background: none !important;
       padding: 0 !important;
   }

   .vc_custom_1436163428614 {
       margin-top: 0px !important;
       margin-right: 0px !important;
       margin-bottom: 28px !important;
       margin-left: 0px !important;
   }

   .vc_custom_1486324567250 {
       padding-top: 29px !important;
       padding-bottom: 60px !important;
       background-color: #004566 !important;
   }

   .vc_custom_1433848297784 {
       margin-bottom: 0px !important;
       padding-top: 52px !important;
       padding-bottom: 46px !important;
       background-color: #eeeeee !important;
   }

   .vc_custom_1485833460303 {
       margin-bottom: 0px !important;
       padding-top: 30px !important;
       padding-bottom: 55px !important;
   }

   .vc_custom_1486324696587 {
       margin-bottom: 0px !important;
   }

   .vc_custom_1434610589736 {
       margin-top: -148px !important;
       padding-right: 0px !important;
       padding-left: 0px !important;
   }

   .vc_custom_1434610598979 {
       margin-top: -148px !important;
       padding-right: 0px !important;
       padding-left: 0px !important;
   }

   .vc_custom_1434610604765 {
       margin-top: -148px !important;
       padding-right: 0px !important;
       padding-left: 0px !important;
   }

   .vc_custom_1434610618578 {
       margin-top: -148px !important;
       padding-right: 0px !important;
       padding-left: 0px !important;
   }

   .vc_custom_1612467728429 {
       padding-top: 30px !important;
       padding-right: 32px !important;
       padding-bottom: 50px !important;
       padding-left: 32px !important;
   }

   .vc_custom_1612467759174 {
       padding-top: 30px !important;
       padding-right: 32px !important;
       padding-bottom: 50px !important;
       padding-left: 32px !important;
   }

   .vc_custom_1436163882282 {
       margin-bottom: 46px !important;
   }

   .vc_custom_1436163568935 {
       margin-top: 7px !important;
       margin-bottom: 27px !important;
   }

   .vc_custom_1611259947592 {
       margin-bottom: 11px !important;
   }

   .vc_custom_1611259988970 {
       margin-bottom: 11px !important;
   }

   .vc_custom_1488696673711 {
       padding-top: 0px !important;
       padding-right: 20px !important;
       padding-bottom: 0px !important;
       padding-left: 8px !important;
   }

   .vc_custom_1612467525707 {
       margin-top: -15px !important;
   }

   .vc_custom_1436267074085 {
       margin-top: 18px !important;
       margin-bottom: 26px !important;
   }

   .wpb_animate_when_almost_visible {
       opacity: 1;
   }

   .fancybox-margin {
       margin-right: 17px;
   }

    
   @media (max-width: 767px) {
       .xs-pull-left {
           float: left !important;
           display: block !important;
       }
   }

   @media (max-width: 767px) {
       .xs-pull-left {
           float: left !important;
           display: block !important;
       }
   }